<div class="container" id="home_container">
    <!--text-center ya viene con boostrap. hace que el contenido por defecto se centre-->
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">Omega Blog</h1>
      <p class="lead">Tu sitio para crear artículos y foros :3</p>
      <hr class="my-4">

      </p>
        <%= link_to 'Ir a la lista de artículos', articles_path, class: "text-white" %> |
        <%= link_to 'Acerca de la página', about_path, class: "text-white" %>
      </p>

      <a class="btn btn-lg" href="#" role="button" id="button-sign-up-main" >Registrarse</a>

    </div>
</div>
